body{
    margin: 0px
}
main{
    margin-left: 20px;
    margin-right: 20px;
}
h1{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color: black;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: aliceblue;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: cyan;
}
.navbar li{
    float:left
<<<<<<< HEAD
}

.img-cyc{
    width: 659px;
}

.img-clos{
    width: 650px;
=======
>>>>>>> d4d59f3f1c589d4cca0b977d9d688ba94cb0947b
}